/* VERSION 3 */

html, body {
  height: 100%;
  margin: 0px;
  background-color: #626567;
}

.fixed-top {
  margin-left: 1em;
  z-index: 1;
}

.buttons {
  margin: auto;
  padding-top: 1rem;
  width: 900px;
}

.calendar-bucket {
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-left: 0;
}

.time {
  color: #fff;
  font-size: 4rem;
}

.calendar {
  color: #fff;
  font-size: 1.35rem;
}

.weather {
  width: 1000px;
  margin: auto;
  margin-bottom: 1rem;
  overflow: hidden;
}