/* VERSION 3 */

html, body {
  height: 100%;
  margin: 0px;
  background-color: #626567;
}

.fixed-top {
  margin-left: 1em;
  z-index: 1;
}

.buttons {
  margin: auto;
  padding-top: 1rem;
  width: 900px;
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
}

.timestamp-bucket {
  color: #fff;
  padding-bottom: 1rem;
  padding-right: 1rem;
  margin-right: 0;
  width: 50%;
  text-align: right;
  font-size: .75rem;
}

.calendar-bucket {
  color: #fff;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-left: 0;
  width: 50%;
}

.time {
  font-size: 4rem;
}

.calendar {
  font-size: 1.35rem;
}

.weather {
  width: 1000px;
  margin: auto;
  margin-bottom: 1rem;
  overflow: hidden;
}